@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Rubik+Bubbles&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;

  /* font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Rubik Bubbles", cursive;
  font-family: "Varela Round", sans-serif; */
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
}
#root{
  margin-bottom: 50px;
}
